parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - var
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
